[package]
name = "sigstore"
description = "An experimental crate to interact with sigstore"
version = "0.2.0"
edition = "2018"
authors = [
  "sigstore-rs developers",
]

[features]
default = ["native-tls"]
native-tls = ["oci-distribution/native-tls"]
rustls-tls = ["oci-distribution/rustls-tls"]

[dependencies]
async-trait = "0.1.52"
base64 = "0.13.0"
lazy_static = "1.4.0"
# TODO: go back to the officially release oci-distribution once these patches are released
oci-distribution = { git = "https://github.com/krustlet/oci-distribution", rev = "0f717968093a5415f428503d741dedf24ea97948", default-features = false }
#oci-distribution = { version = "0.8.1", default-features = false }
olpc-cjson = "0.1.1"
pem = "1.0.2"
picky = { version = "7.0.0-rc.2", default-features = false, features = [ "x509" ] }
regex = "1.5.5"
ring = "0.16.20"
serde_json = "1.0.79"
serde = { version = "1.0.136", features = ["derive"] }
sha2 = "0.10.2"
thiserror = "1.0.30"
tokio = { version = "1.17.0", features = ["full"] }
tough = { version = "0.12.1", features = [ "http" ] }
tracing = "0.1.31"
url = "2.2.2"
# DO not update to 0.13.0 - wait for a release that includes https://github.com/rusticata/x509-parser/pull/118 to be published
x509-parser = { version = "0.12.0", features = ["verify"] }

[dev-dependencies]
anyhow = "1.0.54"
chrono = "0.4.19"
clap = { version = "3.1.0", features = ["derive"] }
openssl = "0.10.38"
rstest = "0.12.0"
tempfile = "3.3.0"
tracing-subscriber = { version = "0.3.9", features = ["env-filter"] }
