name: Publish-Crate-Upon-Release
on:
  release:
    types: [published]

jobs:
  publish-automatically:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - uses: rust-lang/crates-io-auth-action@041cce5b4b821e6b0ebc9c9c38b58cac4e34dcc2 # v1.0.2
        id: auth

      - name: Rustup
        run: |
          rustup install stable
          rustup override set stable

      - name: publish crates
        env:
          CARGO_REGISTRY_TOKEN: "${{ steps.auth.outputs.token }}"
        run: cargo publish
