name: Publish-Crate-Upon-Release
on:
  release:
    types: [published]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  publish-automatically:
    name: Publish crates
    runs-on: ubuntu-latest
    permissions:
      id-token: write # needed to get OpenID Connect token for authentication

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: rust-lang/crates-io-auth-action@b7e9a28eded4986ec6b1fa40eeee8f8f165559ec # v1.0.3
        id: auth

      - name: Rustup
        run: |
          rustup install stable
          rustup override set stable

      - name: publish crates
        env:
          CARGO_REGISTRY_TOKEN: "${{ steps.auth.outputs.token }}"
        run: cargo publish
